@font-face {
  font-family: "Saans TRIAL";
  src: url("../assets/fonts/Saans-TRIAL-Regular.ttf") format("truetype"),
    url("../assets/fonts/Saans-TRIAL-Regular.otf") format("opentype");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans TRIAL";
  src: url("../assets/fonts/Saans-TRIAL-Medium.ttf") format("truetype"),
    url("../assets/fonts/Saans-TRIAL-Medium.otf") format("opentype");
  font-weight: 570;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans TRIAL";
  src: url("../assets/fonts/Saans-TRIAL-Semibold.ttf") format("truetype"),
    url("../assets/fonts/Saans-TRIAL-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans TRIAL";
  src: url("../assets/fonts/Saans-TRIAL-Bold.ttf") format("truetype"),
    url("../assets/fonts/Saans-TRIAL-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
